.what-we-do-section{
max-width: 1200px;
margin: 94px auto;
padding: 0;
}
.image-list{
position: relative;
&__title{
    position: absolute;
    bottom: 2px;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white_color;
    font-weight: 700;
 }
}